body {
    background-color: #fff;
    color: #333;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button.btn {
    background: #fff;
    border: 1px solid #545454;
    border-radius: 4px;
    color: #545454;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158,158,158,.2);
}

button:active {
    background-color: rgba(158,158,158,.4);
}

button.btn.warning{
    color: #fff;
    background: #bf0000;
}
button.btn.warning:hover{
    background: #ff0000;
    color: #fff;
    border-color: #af0000;
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}
.completed button.btn{
    background: #ccc !important;
    color: #999 !important;
    border-color: #b5b5b5 !important;
}
input {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}

main {
    background: #fff;
    max-width: 1000px;
    margin: 30px auto;
}

header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: #54a2c9;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    display: inline-block;
    color: #323330;
    margin: 1rem auto;
}



/* Todo Item */
.todo-item .textfield {
    display: none;
}
.todo-name-col{
    width: 47%;
}
.todo-item.editing .checkbox,
.todo-item.editing .todo-name {
    display: none;
}

.todo-item.editing .textfield {
    width: 80%;
    height: 32px;
    border-radius: 4px;
    display: block;
}

.todo-item button {
    opacity: 0;
    transition: all .2s;
}

.todo-item:hover button:not(.checkbox) {
    opacity: 1;
}

.form-control{
    height: 36px;
}

#addTodoBtn{
    background: #656565;
    color: #fff;
    border-color: #d5d5d5;
}
#addTodoBtn:hover{
    background: #f1f1f1;
    color: #989898;
    border-color: #989898;
}

.table-list{
    width: 100%;
    border-collapse: collapse;
}
.table td,
.table th{
    vertical-align: middle !important;
}
.table td:first-child,
.table th:first-child{
    width: 70px;
    padding-left: 20px;
}
table th{
    background: #001A26;
    color: #fff;
    text-transform: uppercase;
}
.table tr.completed td{
    background-color: #dff0d8;
    color: #ccc;
    text-decoration: line-through;
}
table tfoot td{
    font-size: 18px;
    color: #000;
}
table input,
table label{
    margin: 0;
}